<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708167307614-umtdnm7hguepssq3qddld2tv0oek0gsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708167307614-umtdnm7hguepssq3qddld2tv0oek0gsl</string>
	<key>API_KEY</key>
	<string>AIzaSyCkjyiTRZJFmX6THB_GMR3iTT7A7l5brVo</string>
	<key>GCM_SENDER_ID</key>
	<string>708167307614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.tunckankilic.todoonline</string>
	<key>PROJECT_ID</key>
	<string>todolistonline-f6090</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistonline-f6090.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708167307614:ios:0601f596dfc1176be3ffcf</string>
</dict>
</plist>